<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
    
    <script>
 
 

  fetch(url)
    .then((response) => {
      console.log(response.json());
    })
    .then((data) => {})

 var data = {
     //"documentTitle": "RECEIPT", //Defaults to INVOICE
     "currency": "USD",
     "taxNotation": "vat", //or gst
     "marginTop": 25,
     "marginRight": 25,
     "marginLeft": 25,
     "marginBottom": 25,
     "logo": "https://www.easyinvoice.cloud/img/logo.png", //or base64
     //"logoExtension": "png", //only when logo is base64
     "sender": {
         "company": "Sample Corp",
         "address": "Sample Street 123",
         "zip": "1234 AB",
         "city": "Sampletown",
         "country": "Samplecountry"
         //"custom1": "custom value 1",
         //"custom2": "custom value 2",
         //"custom3": "custom value 3"
     },
     "client": {
         "company": "Client Corp",
         "address": "Clientstreet 456",
         "zip": "4567 CD",
         "city": "Clientcity",
         "country": "Clientcountry"
         //"custom1": "custom value 1",
         //"custom2": "custom value 2",
         //"custom3": "custom value 3"
     },
     "invoiceNumber": "2020.0001",
     "invoiceDate": "05-01-2020",
     "products": [
         {
             "quantity": "2",
             "description": "Test1",
             "tax": 6,
             "price": 33.87
         },
         {
             "quantity": "4",
             "description": "Test2",
             "tax": 21,
             "price": 10.45
         }
     ],
     "bottomNotice": "Kindly pay your invoice within 15 days."
 };
  
 //Create your invoice! Easy!
 easyinvoice.createInvoice(data, function (result) {
     //The response will contain a base64 encoded PDF file
     easyinvoice.download('myInvoice.pdf', result.pdf);
 });
    </script>
</body>
</html>